* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-footer: 3rem;
}

main {
    overflow-y: scroll;
}

/* nav  */
nav {
    height: var(--nav-footer);
    background-color: black;
}

.text-nav {
    display: flex;
    flex-direction: row-reverse;
    padding: .6rem;
    gap: .4rem;
}

nav a {
    text-decoration: none;
    color: white;
}

.text-btn {
    background-color: #4A4A4A;
    padding: .3rem;
    border-radius: 5px;
}

/* main  */

main {
    height: calc(100vh - var(--nav-footer) - 3rem);
    background-color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.cards {
    position: relative;
    display: flex;
    flex: 0 0 calc(100% / 7);
    padding: .5rem .2rem;
}

.cards img {
    width: 100%;
}

.cards h2 {
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: .7rem;
}

/* footer  */
footer {
    height: var(--nav-footer);
    background-color: olive;
}