* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-footer: 3rem;
}

body {
    margin-top: var(--nav-footer);
}

/* nav  */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: var(--nav-footer);
    background-color: black;
}

.text-nav {
    display: flex;
    flex-direction: row-reverse;
    padding: .6rem;
    gap: .4rem;
}

nav a {
    text-decoration: none;
    color: white;
}

.text-btn {
    background-color: #4A4A4A;
    padding: .3rem;
    border-radius: 5px;
}

/* main  */

main {
    height: calc(100vh - var(--nav-footer));
    background-color: blue;
}

.cards {
    width: 100px;
    height: 1000px;
    background-color: red;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: var(--nav-footer);
    background-color: white;
}